<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Document</title>
    <style>
        .container {
          max-width: 1900px;
        }
      </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h1>Query Poetry</h1>
                <form role="form" method='POST' action='/'>
                <div class="form-group">
                    <input type="text" name="regex" class="form-control" id="regex-box" placeholder={% if query_word  %}"{{ query_word  }}"{% else %}"Query RegEx"{% endif %} style="max-width: 300px;" autofocus required>
                </div>
                <button type="submit" class="btn btn-default">Query</button>
                </form>
                <br>
                {% for error in errors %}
                <h4>{{ error }}</h4>
                {% endfor %}
                <br/>
            </div>
            <div class="col-lg-6">
                {% if results %}
                <h2>Query {{ query_word }} result: {{ results|length }}</h2>
                <br>
                <div id="results">
                    <table class="table table-striped" style="max-width: 900px;">
                    <thead>
                        <tr>
                        <th style="width: 200px;">Title</th>
                        <th style="width: 100px;">Author/rhythmic</th>
                        <th style="width: 600px;">Paragraph</th>
                        </tr>
                    </thead>
                    {% for result in results%}
                        <tr>
                        <td>{{ result[0] }}</td>
                        <td>{{ result[1] }}</td>
                        <td>{{ result[2] }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
</body>
</html>